*{

    margin: 0;
    padding: 0;

}
body{
    overflow-x:hidden;
    background-image: url("179 Fabled Sunset.png");
    font-family: 'Raleway', sans-serif;

}
header{
    height: 100px;
}
.logo{
    /* background-color: pink; */
    display: block;
    float: left;
    text-decoration: none;

}
.logo img{
    width: 50px;
    vertical-align: middle;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 10px;
}
.logo h4{
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
    color: #222;
}
 .headerMenu{
    background-color: gold;
    float:right ;

}
.headerMenu:hover nav{
    transform: translateX(-100%);
}
.Menu{
/* background-color: tomato; */
 line-height: 100px;
display: inline-block;
padding-left: 20px;
padding-right: 20px;
text-decoration: none;
color: black;
}
nav{
    background-color: blue;
    position: absolute;
    right: -150px;
    /* transform: translateX(100%); */
    transition: 0.5s;
}
nav a{
background-color: pink;
display: block;
color: white;
text-decoration: none;
line-height: 40px;
width: 150px;
}
a{

text-align: center;





    
}
.Menu:hover{
    background-color: white;

}
a:hover{
    background-color: gold;
}
   .fon{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    /* чтобы картинка была размытой */
    filter: blur(10px);
   }
   section{
    position: relative;
   } 

   










   

   
   
