*{

    margin: 0;
    padding: 0;

}
body{
    overflow-x:hidden;
}
header{
    background-color: tan;
    height: 100px;
}
.logo{
    background-color: pink;
    display: block;
    float: left;

}
.logo img{
    width: 100px;
    vertical-align: middle;
}
.logo h4{
    display: inline-block;
    vertical-align: middle;
}
 .headerMenu{
    background-color: gold;
    float:right ;

}
.headerMenu:hover nav{
    transform: translateX(0);
}
.Menu{
background-color: tomato;
 line-height: 100px;
display: inline-block;

}
nav{
    background-color: blue;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s;
}
nav a{
background-color: pink;
display: block;
color: white;
text-decoration: none;
line-height: 40px;
}
a{

text-align: center;



    
}









   

   
   
